html{
  box-sizing: border-box;
  color: #323232;
  background-color: #bebebe;
  font-family: Georgia,serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center .";
  margin-bottom: 1.5rem;
}

h1 {
  grid-area: center;
  margin: 0;
  z-index: 0;
}

img {
  width: 100%;
  height: auto;
}

nav {
  background-color: #bd027d;
  grid-column: 1 / -1;
  grid-row: 1;
}

nav ul {
  display: flex;
  margin: 0;
  padding-top: 0;
  padding-bottom: 1rem;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav a {
  border: 2px solid:#960062;
  background-color: #bd027d;
  padding: .5em .8em;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.125rem;
  color: #eccee2;
}

nav a:hover{
  background-color: #960062;
}

main {
  padding: 0 1rem;
}

main p{
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
}

section {
  padding: 1.5rem 0;
  border-top: 2px solid #afafaf;
  border-bottom: 2px solid #afafaf;
}
